@use "header";
@use "footer";

* {
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  display: grid;
}
main {
  min-height: 80vh;
  display: grid;
  place-items: center;
}
article {
  display: grid;
  place-items: center;
}
main div {
  width: 90%;
  height: 500px;
  display: grid;
  place-items: center;
  background-color: #fed615;
}
img {
  width: 300px;
  height: 300px;
}

@media only screen and (min-width: 1000px) {
  main {
    grid-template-columns: 1fr 1fr;
  }
}
